<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./../assets/css/default.css">
    <link type="text/css" rel="stylesheet" href="./../assets/css/home.css">
    <link type="text/css" rel="stylesheet" href="./../assets/css/produtos.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="user">
            <span id="usuario-logado"></span>
            
        </div>
        

    </header>
    <button type="button" onclick="logout()">Logout</button>
    <br><br>
    <div class="buttonsfilters">
        <!-- <button type="button" id="All01">Todos Produtos</button> -->
        <button type="button" id="filtro01">Produtos Disponíveis</button>
        <button type="button" id="Dolar">Converter valor para Dólar</button>
        
    </div>
    <div><div id="mediaEmTela"></div></div>
    <br>
   
    <div id="lista-produtos"></div>
    
    <script type="text/javascript" src="../assets/js/home.js"></script>
    <script type="text/javascript" src="../assets/js/funcoes_funcionais.js"></script>
    <script type="text/javascript" src="../assets/js/requisicoes.js"></script>

</body>

</html>

<!-- Status de REQUEST (USUÁRIO pedindo informações do BANCO DE DADOS)

200 - 299 -> status ok
300 - 399 -> status algo foi redirecionado
400 - 499 -> alguma falha de cliente (faltando permissões, encontrar objetos)
501 - 599 -> falha de servidor 

POST -> INCLUIR ALGO NO BANCO
UPDATE / PUT -> ALTERAR ALGO
DELETE -> EXCLUIR
GET -> SELECT NO BANCO

-->