<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./../assets/css/default.css">
    <link type="text/css" rel="stylesheet" href="./../assets/css/home.css">
    <link type="text/css" rel="stylesheet" href="./../assets/css/produtos.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="user">
            <span id="usuario-logado"></span>
            
        </div>
        

    </header>
    <button type="button" onclick="logout()">Logout</button>
    <br><br>
    <div class="buttonsfilters">
        <!-- <button type="button" id="All01">Todos Produtos</button> -->
        <button type="button" id="filtro01">Produtos Disponíveis</button>
        <button type="button" id="Dolar">Converter valor para Dólar</button>
        <h5 id="mediaEmTela"></h5>
    </div>
    <br>
   
    <div id="lista-produtos"></div>
    
    <script type="text/javascript" src="../assets/js/home.js"></script>
    <script type="text/javascript" src="../assets/js/funcoes_funcionais.js"></script>

</body>

</html>