<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/default.css">
    <title>My page codes</title>
</head>

<body>
    <div>
        <img style="width: 100px;" src="" id="foto">
        <div id="nome"></div>
    </div>
    <script type="text/javascript" src="../assets/js/api_github.js"></script>
</body>

</html>