<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/default.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/portfolio.css">
    <title>Portifolio</title>
</head>

<body>

    <div>

        <div id="avatar"><img src="" id="foto"><br></div>

        <div id="teste">
            <div id="nome"></div><br>
        </div>

        <div id="container">

            <div id="seguindo">
                <ul id="listaSeguindo"></ul>
            </div>

            <div id="seguidores">
                <ul id="listaSeguidores"></ul>
            </div>

            <div id="repositories">
                <ul id="listaRepositories"></ul>
                
            </div>

        </div>


        <div id="location"></div><br>
    </div>


    <script type="text/javascript" src="../assets/js/api_github.js"></script>
</body>

</html>